{{ partial "header.html" . }}

{{ if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if or (not .Params.type) (not (eq .Params.type "home")) }}
<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    {{ if not (eq .Params.type "alias") }}
    <li style="font-size: 1.2em;">
        <div>
            {{ $datetime := .Date.Format "2006-01-02" }}
            <b><a href="{{ .RelPermalink }}" target="_blank">{{ .Title | markdownify }}</a></b>
        </div>
        {{ with .Params.description }}
        <div><span style="font-style: italic; font-size: 0.9em;">{{ . }}</span></div>
        {{ end }}
        {{ $author := partial "get-author.html" . }}
        <span style="font-size: 0.8em;">
            <address style="font-style: normal; display: inline;">
                <a href="mailto:{{ $author.mail }}" class="list-author" rel="author nofollow">{{ $author.name }}</a>
            </address>
            <span>&nbsp;published on</span>
            <time datetime="{{ $datetime }}" itemprop="datePublished">{{ $datetime }}</time>
        </span>
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
