{{ partial "header.html" . }}

{{ if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if or (not .Params.type) (not (eq .Params.type "home")) }}
<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    {{ if not (eq .Params.type "alias") }}
    <li>
        <div>
            {{ $datetime := .Date.Format "2006-01-02" }}
            <time datetime="{{ $datetime }}" itemprop="datePublished">{{ $datetime }}</time>
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </div>
        {{ with .Params.description }}
        <span style="font-style: italic;">{{ . }}</span>
        {{ end }}
    </li>
    {{ end }}
    {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
