{{ partial "header.html" . }}

{{ if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if or (not .Params.type) (not (eq .Params.type "home")) }}
<ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li style="font-size: 1.2em;">
        <div>
            <b><a href="{{ .RelPermalink }}" target="_blank">{{ .Title | markdownify }}</a></b>
        </div>
        {{ with .Params.description }}
        <div><span style="font-style: italic; font-size: 0.9em;">{{ . }}</span></div>
        {{ end }}
        {{ $author := partial "get-author.html" . }}
        <span style="font-size: 0.8em;">
            Published <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "2 Jan 2006" }}</time>
        </span>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
