<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}"{{ end }}>
<head>
    <meta charset="utf-8">
    {{ if not (isset .Params "redirect") }}
    {{ errorf ".Params.redirect is required for redirects. Got for %s. It's params: %s" .Permalink (jsonify .Params) }}
    {{ end }}
    {{ $redirect := site.GetPage .Params.redirect }}
    {{ if not $redirect }}
    {{ errorf "Can't treat .Params.redirect as valid page. Got for %s. It's params: %s" .Permalink (jsonify .Params) }}
    {{ end }}
    {{ with $redirect }}
        <title>{{ .Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}">
        <meta name="robots" content="noindex">
        <meta http-equiv="refresh" content="0;url={{ .Permalink }}">
    {{ partial "_internal/opengraph.html" . }}
    {{ end }}
</head>
</html>