{{ partial "header.html" . }}
<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ with .Params.description }}
    <div><span style="font-style: italic; font-size: 1.2em;">{{ . }}</span></div>
    {{ end }}
    {{ $author := partial "get-author.html" . }}
    <address class="h2" style="font-style: normal;">
        <a href="mailto:{{ $author.mail }}" class="author" rel="author nofollow">{{ $author.name }}</a>
    </address>
    <time class="h2" datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">{{ .Date.Format "2006/01/02" }}</time>

    <nav style="display: flex; justify-content: space-between;">
        <div>
            {{ with .PrevInSection }}
            <a href="{{ .RelPermalink }}" rel="prev">← {{ .Title }}</a>
            {{ end }}
        </div>
        <div style="text-align: right;">
            {{ with .NextInSection }}
            <a href="{{ .RelPermalink }}" rel="next">{{ .Title }} →</a>
            {{ end }}
        </div>
    </nav>
</div>

<main>
    {{ .Content }}
</main>

{{ if or (.Params.categories) (.Params.tags) }}
<hr/>
<h2>Taxonomy</h2>

See related articles on the topics:
{{ end }}
{{ with .Params.categories }}
<h3>Categories</h3>
<ul>
{{ range $index, $cat := . }}
    <li><a href="{{ "categories/" | relURL }}{{ $cat | urlize }}" rel="tag">{{ $cat }}</a></li>
{{ end }}
</ul>
{{ end }}

{{ with .Params.tags }}
<h3>Tags</h3>
<ul>
    {{ range $index, $tag := . }}
        <li><a href="{{ "tags/" | relURL }}{{ $tag | urlize }}" rel="tag">{{ $tag }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
